$task-card-background-color: #202020;
$title-desc-color: darken(#fff, 20);
$card-title-color: #fff;

.task-card {
    background-color: $task-card-background-color !important;
    &__title{
        color: $card-title-color;
    }
    &__desc,
    &__hour {
        color: $title-desc-color !important;
    }
}