// Colors Utilities
.white-color {
    color: $white;
}

.black-color {
    color: $black;
}

// Background Color Utilities
.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.feedback-animation {
    transition: all ease-in-out 0.4s;
}
